@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* External Styles */

.inputFields {
  @apply w-full border-[1px] bg-neutral-50 dark:bg-neutral-900 border-neutral-500 hover:border-neutral-800 dark:border-neutral-500 hover:dark:border-neutral-600 duration-500 p-1 rounded pl-2;
}

.blueLink {
  @apply text-blue-600 hover:text-blue-800 duration-500 text-sm md:text-base leading-normal;
}

.AuthForm {
  @apply w-3/4 flex flex-col gap-5 relative;
}

.authPage{
  @apply flex h-screen box-border justify-center items-center bg-gradient-to-r from-green-200 via-violet-300 to-fuchsia-300;
}

.cardRight{
  @apply w-1/2 bg-gradient-to-r flex justify-center items-center from-violet-200 to-pink-200 rounded-r-xl text-2xl font-extrabold;
}

.innerCard {
  @apply w-2/3 h-2/3 flex items-center text-center bg-gradient-to-r from-green-200 via-violet-300 to-fuchsia-300 rounded-xl;
}

.inputLabel {
  @apply dark:text-neutral-400 duration-200 text-sm;
}

.cardStyle {
  @apply w-full flex flex-col md:flex-row border bg-neutral-50 dark:bg-neutral-900 border-fuchsia-400 hover:dark:border-fuchsia-600 hover:dark:bg-neutral-800/60 hover:bg-neutral-100 duration-500 p-2 rounded;
}

.loader {
  @apply h-20 aspect-square grid 
}

.loader:before,
.loader:after {
  content: "";
  background-image: linear-gradient(black, black), linear-gradient(rgb(255, 23, 236), rgb(255, 23, 236));
  background-repeat: no-repeat;
  background-size: 25% 50%;
  animation: l4 1.5s infinite linear;
}

.loader:after {
  transform: scale(-1);
}

@keyframes l4 {

  0%,
  10% {
    background-position: 33.4% 100%, 66.6% 100%
  }

  40% {
    background-position: 33.4% 0, 100% 100%
  }

  70% {
    background-position: 0 100%, 66.6% 0
  }

  100% {
    background-position: 33.4% 100%, 66.6% 100%
  }
}