@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .custom-box-shadow {
    --tw-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3), 0px 2px 6px 2px rgba(60, 64, 67, 0.15);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
  }
}

/* External Styles */

.inputFields {
  @apply dark:bg-neutral-900 border border-neutral-300 hover:border-neutral-800 dark:border-neutral-800 hover:dark:border-neutral-600 duration-500 focus:border-none;
}

.blueLink {
  @apply text-blue-600 hover:text-blue-800 duration-500 text-sm md:text-base leading-normal;
}

.AuthForm {
  @apply w-3/4 flex flex-col gap-5 mt-7 relative;
}

.authPage {
  @apply flex md:bg-neutral-100 md:dark:bg-neutral-950 h-screen justify-center items-center;
}

.cardRight {
  @apply w-4/5 md:w-1/2 hidden lg:flex bg-gradient-to-r from-violet-200 to-pink-200 dark:from-violet-900 dark:to-pink-900 justify-center items-center rounded-r-xl text-xl md:text-2xl font-extrabold mt-10 md:mt-0 py-5 md:py-1;
}

.cardDesign {
  @apply flex flex-col bg-neutral-50 text-neutral-900 dark:text-neutral-50 border-[1px] rounded-lg border-neutral-300 dark:bg-neutral-900 dark:border-neutral-700
}

.colorDiv {
  @apply w-full h-1/4 flex justify-center items-center bg-gradient-to-r from-green-200 via-violet-300 to-fuchsia-300 dark:from-green-900 dark:via-violet-900 dark:to-fuchsia-900 rounded-lg p-2 lg:p-0
}

.innerCard {
  @apply w-[70%] h-2/3 flex items-center text-center bg-gradient-to-r from-green-200 via-violet-300 to-fuchsia-300 dark:from-green-900 dark:via-violet-900 dark:to-fuchsia-900 backdrop-blur-lg rounded-xl p-3 md:p-6;
}

.inputLabel {
  @apply pb-2;
}

.cardStyle {
  @apply w-full flex flex-col md:flex-row border bg-neutral-50 dark:bg-neutral-900 border-neutral-300 hover:border-neutral-500 dark:border-neutral-800 hover:dark:border-neutral-600 hover:bg-neutral-100 duration-500 p-2 rounded;
}

.loader {
  @apply h-20 aspect-square grid;
}

.loader:before,
.loader:after {
  content: "";
  background-image: linear-gradient(rgb(13, 133, 213), rgb(13, 133, 213)),
    linear-gradient(rgb(255, 23, 236), rgb(255, 23, 236));
  background-repeat: no-repeat;
  background-size: 25% 50%;
  animation: l4 1.5s infinite linear;
}

.loader:after {
  transform: scale(-1);
}

@keyframes l4 {

  0%,
  10% {
    background-position: 33.4% 100%, 66.6% 100%;
  }

  40% {
    background-position: 33.4% 0, 100% 100%;
  }

  70% {
    background-position: 0 100%, 66.6% 0;
  }

  100% {
    background-position: 33.4% 100%, 66.6% 100%;
  }
}

.inputsDiv {
  @apply flex flex-col sm:flex-row gap-5 justify-between;
}

.FormStyle {
  @apply w-full px-2 md:px-7 flex flex-col gap-6 relative;
}

.FormMainDiv {
  @apply box-border flex flex-col justify-center items-center md:py-10;
}

.FormInnerDiv {
  @apply w-full md:w-5/6 lg:w-7/12 flex flex-col justify-center items-center bg-neutral-50 dark:bg-neutral-950 border border-neutral-200 dark:border-neutral-950 p-5 rounded-lg;
}

.FormTitleDiv {
  @apply my-5 text-center;
}

.FormTitle {
  @apply text-xl md:text-3xl dark:text-neutral-50 font-semibold;
}

.FormSubtitle {
  @apply md:text-lg dark:text-neutral-400;
}

.AuthPageDiv {
  @apply bg-white flex flex-col items-center md:items-stretch lg:shadow-md dark:bg-neutral-950 md:dark:bg-neutral-800 md:flex-row w-full lg:w-[70%] md:h-3/4 rounded-xl;
}

.AuthFormDiv {
  @apply w-full md:w-1/2 rounded-xl flex flex-col justify-center items-center gap-2;
}

.DisplayMainDiv {
  @apply flex justify-center p-5 pt-1 box-border;
}

.DisplayMainInnerDiv {
  @apply w-full flex flex-col items-center pt-6 gap-4;
}

.DisplaySearchDiv {
  @apply w-full justify-center items-center flex flex-col md:flex-row gap-4 px-2 md:px-0;
}

.FilterInputDiv {
  @apply w-full md:w-1/4;
}

.FilterSearchBtnDiv {
  @apply flex w-full md:w-fit;
}

.FilterSearchBtn {
  @apply w-full md:w-[70px] flex items-center gap-3;
}

.ExportBtnDiv {
  @apply flex justify-center md:justify-end md:flex-row gap-2 md:gap-4 mt-3;
}

.ExportBtn {
  @apply h-8 gap-3 px-3 md:px-5 self-end text-black dark:text-white;
}

.summaryDiv {
  @apply grid grid-cols-1 md:grid-cols-3 h-2/3 text-neutral-900 justify-between lg:justify-around gap-2
}

.analySummary {
  @apply grid grid-cols-2 md:grid-cols-4 h-2/3 text-neutral-900 justify-between lg:justify-around gap-2
}

.TableMainDiv {
  @apply w-full flex flex-col gap-2 rounded;
}

.TableDiv {
  @apply w-full mt-5 flex flex-col gap-3;
}

.TableItemDetailsDiv {
  @apply w-full md:w-10/12 flex flex-col capitalize p-2;
}

.TableItemH1 {
  @apply text-lg md:text-2xl font-semibold;
}

.TableItemDetailsInnerDiv {
  @apply dark:text-neutral-400;
}

.TableItemDetailsTitle {
  @apply text-sm md:text-base font-semibold;
}

.Table-dept-journal {
  @apply w-full flex flex-col md:flex-row justify-between;
}

.TableDetailsSpan {
  @apply text-xs md:text-sm font-medium mx-2;
}

.Table-issn-vol {
  @apply w-full flex flex-col md:flex-row justify-between;
}

.TableDetails-vol-page-year-month {
  @apply flex gap-1;
}

.DOILink {
  @apply text-blue-700 dark:text-blue-400 hover:underline;
}

.TableCrudButtonsDiv {
  @apply w-full md:w-2/12 flex flex-row md:flex-col justify-center gap-2 p-2 rounded-md;
}

.TableViewOnlyDiv {
  @apply w-full md:w-2/12 bg-neutral-100 dark:bg-neutral-800/50 rounded-md flex justify-center items-center p-2;
}

.TableViewOnlyP {
  @apply text-sm md:text-base text-center text-neutral-600 font-bold;
}

.ProfileReadonlyInputDiv {
  @apply w-full flex gap-2 md:gap-7 md:items-center flex-col md:flex-row mt-2
}

.History {
  @apply w-full lg:w-3/5 flex flex-col justify-around gap-4 bg-neutral-50 text-neutral-900 dark:text-neutral-50 border-[1px] rounded-lg border-neutral-300 dark:bg-neutral-900 dark:border-neutral-700 p-2
}

.Chart {
  @apply w-full lg:w-1/2 flex flex-col gap-2 justify-center items-center bg-neutral-50 border-[1px] rounded-lg border-neutral-300 dark:text-neutral-900 dark:bg-neutral-900 dark:border-neutral-700 p-2
}

.lineChart {
  @apply w-full lg:w-2/5 flex justify-center items-center h-full bg-neutral-50 border-[1px] rounded-lg border-neutral-300 dark:text-neutral-900 dark:bg-neutral-900 dark:border-neutral-700 p-2
}

.uploadCard {
  @apply flex border dark:border-neutral-800 bg-neutral-200/80 bg-neutral-200 dark:bg-[#222222]
}

.filterDiv {
  @apply w-full flex flex-col md:flex-row gap-2 justify-between;
}

.subscriptionDiv {
  @apply w-screen md:w-full flex flex-col md:flex-row md:justify-center md:items-start gap-4 p-4
}

.subscriptionCard {
  @apply flex flex-col bg-neutral-50 text-neutral-900 dark:text-neutral-50 border-[1px] rounded-lg border-neutral-300 dark:bg-neutral-900 dark:border-neutral-700 md:h-[550px] justify-around md:w-[30%] p-5 gap-4
}

.planDiv {
  @apply flex border dark:border-neutral-800 bg-neutral-200/80 bg-neutral-200 dark:bg-[#222222] w-12 justify-center items-center p-0.5 rounded px-4
}

.textLogo {
  @apply flex items-center text-xl md:text-2xl font-extrabold bg-gradient-to-r from-green-200 via-violet-300 to-fuchsia-300 dark:from-green-900 dark:via-violet-900 dark:to-fuchsia-900 rounded p-1 px-6
}

.logoDiv {
  @apply flex md:hidden p-2 mb-2 rounded-sm opacity-70 ring-offset-background transition-opacity hover:opacity-100 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 disabled:pointer-events-none data-[state=open]:bg-accent data-[state=open]:text-muted-foreground
}

.closeBtn {
  @apply h-5 w-5 absolute right-4 top-4 border-2 border-neutral-300 dark:border-neutral-950 hover:dark:border-neutral-300 hover:border-neutral-400 duration-300 rounded-md
}

.header {
  @apply mx-4 flex justify-between items-center p-1
}

/* bg-gradient-to-r from-green-200 via-violet-300 to-fuchsia-300 dark:from-green-900 dark:via-violet-900 dark:to-fuchsia-900 */